<!--
  ~ Copyright 2014 Stephan Fellhofer
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html>
<head>
    <title>$i18n.getText("admin_helper.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("at.fellhofer.jira.AdminHelper:admin-resources")
</head>
<body>
<a name="top"></a>
<div id="aui-message-bar"></div>
<div class="aui-tabs horizontal-tabs">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tabs-general"><strong>General Configuration</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-teams"><strong>Add/Remove Teams</strong></a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-general">
        <form id="general" class="aui">
            <h3>GitHub</h3>
            <fieldset>
                <div class="field-group">
                    <label for="github_token">Personal API Token<span class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="github_token" name="github_token" title="github_token">
                    <div class="description">Create a <a href="https://github.com/blog/1509-personal-api-tokens">token</a> with "admin:org" scope.</div>
                </div>
                <div class="field-group">
                    <label for="github_organization">Organization<span class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="github_organization" name="github_organization" title="github_organization">
                </div>
            </fieldset>
            <div id="teams"></div>
            <div class="field-group">
                <input type="submit" value="Save" class="aui-button aui-button-primary">
            </div>
        </form>
    </div>
    <div class="tabs-pane" id="tabs-teams">
        <form id="modify-teams" class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="team">Team name<span class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="team" name="team" title="team">
                </div>
                <div class="field-group">
                    <input type="submit" value="Create" class="aui-button aui-button-primary">
                    <input type="submit" value="Remove" id="remove" class="aui-button">
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>